<section class="container centered" style="margin: auto">
  <!-- <div class="about"> -->
  {{ define "main" }} {{ end }}
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 5px;
      max-width: 900px;
      margin: auto;
    ">
    <!-- MAIN IMAGE -->
    <img
      src="/images/landing-photo.jpg"
      alt="Product Image"
      style="max-width: 70%; height: auto; border-radius: 12px; box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15)" />

    <!-- CAPTION -->
    <h1 style="margin-top: 30px; font-size: 2rem; font-weight: 700">Welcome to the ORA Lighting System</h1>

    <!-- SUBTEXT -->
    <p style="font-size: 1.4rem; opacity: 0.8; margin-top: 10px">
      Complete operating, installation, and technical documentation
    </p>

    <!-- CREDIT -->
    <p style="margin-top: 20px; font-size: 1.3rem; color: #777">Created by <strong>ORA PRO</strong></p>
  </div>
  <!-- </div> -->
</section>
