<section class="container centered" style="margin: auto">
  <!-- <div class="about"> -->
  {{ define "main" }} {{ end }}
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 5px;
      max-width: 900px;
      margin: auto;
    ">
    <!-- MAIN IMAGE -->
    <!-- src="/images/landing-photo.jpg" -->
    <h1 style="margin-top: 0px; font-size: 2rem; font-weight: 700">Welcome to the ORA Lighting System</h1>
    <h2 style="margin-top: 0px; font-weight: 700">LM500 - Remote operation - No need to charge</h2>
    <h2 style="margin-top: 0px; font-weight: 700">LMהפעלה משלט הרחפן - ללא צורך בטעינה - עוצמת תאורה 500</h2>
    <img
      src="/images/drone ora1.png"
      alt="Product Image"
      style="max-width: 70%; height: auto; border-radius: 12px; box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15)" />

    <!-- SUBTEXT -->
    <p style="font-size: 1.4rem; opacity: 0.8; margin-top: 10px">
      Complete operating, installation, and technical documentation
    </p>
    <a
      href="/user-guide-en/"
      style="
        display: inline-block;
        padding: 8px 16px;
        border-radius: 6px;
        background: #007bff;
        color: white;
        text-decoration: none;
        font-weight: 600;
      ">
      Go to User Guide
    </a>
    <!-- CREDIT -->
    <p style="margin-top: 20px; font-size: 1.3rem; color: #777">Created by <strong>ORA PRO</strong></p>
  </div>
  <!-- </div> -->
</section>
